* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.schedule,
.sponsors,
.faq {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.under_nav {
  background-image: url('../public/images/blank.png');
  background-position: center;
  background-size: cover;
}

.home {
  background-image: url('../public/images/img-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  justify-content: center;
  color: #fff;
  font-size: 100px;
  word-wrap:break-word;
}

.home_i {
  background-image: url('../public/images/img-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  justify-content: center;
  color: #fff;
  font-size: 80px;
  word-wrap:break-word;
}

.home2 {
  background-image: url('../public/images/img-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  word-wrap:break-word;
}

.schedule {
  background-image: url('../public/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  flexShrink: 1;
  word-wrap:break-word;
}

.sponsors {
  background-image: url('../public/images/img-5.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  flexShrink: 1;
  word-wrap:break-word;
}

.faq {
  background-image: url('../public/images/woods.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  flexShrink: 1;
  word-wrap:break-word;
}
