 @font-face {
font-family: "FyodorBold";
src: local("FyodorBold"),
 url("./fonts/fyodor/truetype/Fyodor-Bold.ttf") format("truetype");
font-weight: bold;
}
 @font-face {
font-family: "GFSNeohellenic";
src: local("GFSNeohellenic"),
 url("./fonts/GFSNeohellenic/GFSNeohellenic-Regular.ttf") format("truetype");
font-weight: bold;
}
@font-face {
font-family: "GFSNeohellenic_bold";
src: local("GFSNeohellenic_bold"),
 url("./fonts/GFSNeohellenic/GFSNeohellenic-Bold.ttf") format("truetype");
font-weight: bold;
}
